* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/*//////Start Menu//////*/
#menu { /*Barra de menú*/
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 5;
    background: linear-gradient(to right, #212121, #0061b5);
    box-shadow: 0px 5px 10px black;
}

#menu .logo { /*Contenedor logo*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 60px;
    width: 10vw;
    height: 100%;
    
}

#menu .logo img { /*Logo*/
    width:75px;
    height:75px;

}
#menu .logo p{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    
}




#menu .items { /*Contenedor items menú*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
}

#menu .items ul { /*Propiedades ul menú*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#menu .logo-menu { /*Logos menú*/
    display: inline-flex;
    height: 80%;
    margin-right: 10px;
}

#menu .items li { /*Items li menú*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

#menu .items a { /*Hipervínculos menú*/
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#menu .colapse-menu { /*Contenedor svg icono desplegable*/
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 10vw;
    height: 100%;
}

#menu .colapse-menu .svg-icon { /*Contenedor icono desplegable*/
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
}

#menu .colapse-menu .menu-icon { /*Color y tamaño icono desplegable*/
    fill: white;
    scale: 2;
}

#menu .items li:hover { /*Animación items menú*/
    background-color: #001e38;
}
/*//////End Menu//////*/

/*//////Start Banner//////*/
#banner { /*Contenedor banner*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner/arg.jpg');
    background-size: cover;
    background-position-x: center;
}

#banner_content { /*Fondo para opacidad banner*/
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .4;
}

#banner_tittle { /*Contenedor título banner*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .8;
}

#banner_tittle h1 { /*Título banner*/
    text-align: center;
    color: white;
    margin-bottom: 120px;
    width: 450px;
    font-size: 50px;
}

.button { /*Botón banner*/
    position: absolute;
    margin-bottom: 2%;
    z-index: 4;
    background-color: #ffffff;
    border-radius: 20px;
    color: #232323;
    padding: 15px 25px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover { /*Animación botón banner*/
    color: #ffffff;
    background-color: #005387;
    border-radius: 10 px;
}
/*//////End Banner//////*/

.container { /*Contenedor del section*/
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

/*//////Contenedor de items//////*/

.grid-encabezado {
    display: grid;
    justify-content: space-around; 
    grid-template: 50px / 1fr 3fr;
    grid-gap: 2%; 
    margin-bottom: 20px;
    background-color: rgba(9, 9, 9, 0.5);

}

.grid-encabezado .texto { /*Contenedor texto*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-encabezado .logo { /*Contenedor logo*/
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    align-items: center;
    justify-content: center;   
    width: 10vw;
    height: 100%;
}

.grid-encabezado .logo img { /*Logo*/
    height: 80%;
}


.grid-container { /*Contenedor global de productos*/
    display: grid;
    justify-content: space-around;    
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}
.grid-container .grid-item { /*Contenedor del producto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.grid-item .grid-img { /*Contenedor imagen producto*/
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
}

.grid-item .pre { /*Precio*/
    position: absolute;
    border-bottom-right-radius: 20px;
    padding: 15px 25px;
    background-color: #363636;
    color: #ffffff;
    font-size: 16px;
    opacity: .9;
}

.adidas .grid-img .produ,
.nike .grid-img .produ { /*Imagen Producto*/
    width: 100%;
    border-bottom-right-radius: 21px;
}

.adidas .grid-img .produ { /*Sombra Imagen Producto (ADIDAS)*/
    box-shadow: 5px 5px #575757;
}

.nike .grid-img .produ { /*Sombra Imagen Producto (NIKE)*/
    box-shadow: 5px 5px #ffffff;
}

.grid-img .grid-logo { /*Contenedor Logo*/
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4;
    border-bottom-right-radius: 21px;
    opacity: 0;
    transition: all .5s;
}

.grid-img .grid-logo img { /*Imagen logo*/
    width: 70%;
}

.adidas .grid-item h2,
.nike .grid-item h2 { /*Título producto*/
    font-size: 20px;
    text-align: center;
    margin: 3%;
}

.nike .grid-item h2 { /*Color título producto (NIKE)*/
    color: white;
}

.adidas .grid-item .buy,
.nike .grid-item .buy { /*Botón Comprar*/
    width: 50%;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    transition: all .5;
}

.adidas .grid-item .buy { /*Colores botón comprar (ADIDAS)*/
    background-color: #2a2a2a;
    color: #ffffff;
    box-shadow: 5px 5px #d40000;
}

.nike .grid-item .buy { /*Colores botón comprar (NIKE)*/
    background-color: #ffffff;
    color: #282828;
    box-shadow: 5px 5px #23b9ff;
}

.grid-img .grid-logo:hover { /*Animación logo Hover*/
    opacity: .8;
}

.adidas .grid-item .buy:hover { /*Animación botón comprar (ADIDAS)*/
    background-color: #005ccd;
    box-shadow: 5px 5px #000000;
}

.nike .grid-item .buy:hover { /*Animación botón comprar (NIKE)*/
    background-color: #005ccd;
    color: white;
    box-shadow: 5px 5px #ffffff;
}
/*//////End Contenedor de items//////*/

.adidas { /*Fondo section Adidas*/
    padding: 1%;
    background: url('../img/wallpapers/adiwall.jpg');
    width: 100%;
}

.nike { /*Fondo section Nike*/
    padding: 1%;
    background: url('../img/wallpapers/nikewall.jpg');
    width: 100%;
}

.adidas h1,
.nike h1 { /*Título section*/
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

.nike h1 { /*color título section nike*/
    color: white;
}

/*//////Responsive Design//////*/
@media screen and (max-width: 700px) {
    
    /*//////Start Menu//////*/
    #menu .logo {        
        width: 60%;
        margin-left: 20px;
        
    }
   

    #menu .items {
        display: none;
    }

    #menu .colapse-menu {
        display: flex;
        width: 20%;
    }
    /*//////End Menu//////*/

    #banner_tittle h1 {
        text-align: center;
        color: white;
        margin-bottom: 120px;
        width: 250px;
        font-size: 30px;
    }

    .container {
        width: 100%;
    }

    .adidas .container h1,
    .nike .container h1 {
        margin: 5px;
        text-align: center;
        font-size: 25px;
    }

    /*//////Contenedor de items//////*/
    .grid-container .grid-encabezado {
        justify-content: center;
        grid-template-columns: repeat(2, 45%);
    }
    

    .grid-item .pre {
        padding: 5px 15px;
        font-size: 12px;
    }

    .adidas .grid-item h2,
    .nike .grid-item h2 {
        font-size: 11px;
    }

    .adidas .grid-item .buy,
    .nike .grid-item .buy {
        padding: 5px 2px;
        font-size: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .adidas .grid-item .buy {
        box-shadow: 2px 2px #d40000;
    }

    .nike .grid-item .buy {
        box-shadow: 2px 2px #23b9ff;
    }

    .adidas .grid-item .buy:hover {
        box-shadow: 2px 2px #000000;
    }

    .nike .grid-item .buy:hover {
        box-shadow: 2px 2px #ffffff;
    }

    /*//////End Contenedor de items//////*/
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    /*//////Start Menú//////*/
    #menu .logo{
        flex-direction: column;
        margin-left: 10px;
    }
    #menu .logo img { /*Logo*/
        width:50px;
        height:50px;
    }
    #menu .logo p{
        font-size: 12px;
        margin-left: 5px;        
    }

    #menu .items {
        width: 100vw;
    }
    
    #menu .items li {
        width: 30%;
    }

    #menu .items a {
        font-size: 15px;
    }
    
    .container {
        width: 90%;
    }

    .grid-container {
        justify-content: space-around;
        grid-template-columns: repeat(4, 1fr);
        height: 30%;
    }

    /*//////Contenedor de items//////*/
    .grid-item .pre {
        padding: 5px 15px;
        font-size: 12px;
    }

    .adidas .grid-item .buy,
    .nike .grid-item .buy {
        width: 80%;
        padding: 5px 20px;
        font-size: 12px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .adidas .grid-item .buy {
        box-shadow: 2px 2px #d40000;
    }

    .nike .grid-item .buy {
        box-shadow: 2px 2px #23b9ff;
    }

    .adidas .grid-item h2,
    .nike .grid-item h2 {
        font-size: 15px;
    }
    /*//////End Contenedor de items//////*/
}