* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/*//////Start Menu//////*/
#menu { /*Barra de menú*/
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 5;
    background: linear-gradient(to right, #001f35, #005eb0);
    box-shadow: 0px 5px 10px black;
}

#menu .logo, #menu .cart_logo { /*Contenedor logo*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
}

#menu .logo img { /*Logo*/
    height: 80%;
    cursor: pointer;
} 

#menu .cart_logo img, #menu .cart_logo a {height: 100%; cursor: pointer;}

#menu .menu_colapse {
    display: none;
    width: 20vw;
    height: 100%;
}

#menu .svg-icon {
    height: 100%;
}

#menu .items { /*Contenedor items menú*/
    display: flex;
    width: 80vw;
    height: 100%;
}

#menu .items ul { /*Propiedades ul menú*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#menu .logo-menu { /*Logos menú*/
    display: inline-flex;
    height: 60%;
    margin-right: 10px;
}

#menu .items li, .logo a { /*Items li menú*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

#menu .items a { /*Hipervínculos menú*/
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.colapse-cart {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    opacity: .95;
    top: 50px;
    left: 80%;
    width: 20%;
    background-color: #001f35;
    box-shadow: -5px 5px 5px #007cc4;
} .colapse-cart h2 { text-align: center; color: #ffffff; padding: 10px;}
.colapse-cart h4, .colapse-cart h5, .colapse-cart h6{color: #ffffff; text-align: center;}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-bottom: 4px solid #007cc4;
}

.tittle {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #0061b5;
    margin-bottom: 20px;
}

.logo-item {
    width: 20%;
    align-items: center;
} .colapse-cart img {width: 100%;}

.info-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.btn-cart {
    background-color: #0088e9;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

.button-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.cart-items {
    display: block;
    width: 95%;
    max-height: 300px;
    overflow-y: none;
    overflow-y: auto;
}

.remove {
    width: 20%;
} .remove img {cursor: pointer;}

#menu .items li:hover { /*Animación items menú*/
    scale: 1.05;
    text-shadow: 5px 5px 5px #212121;
    border-bottom: solid 7px #005ccd;
    background-color: #000a3879;
}
/*//////End Menu//////*/

/*//////Start Banner//////*/
#banner { /*Contenedor banner*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner/arg.jpg');
    background-size: cover;
    background-position-x: center;
}

#banner_content { /*Fondo para opacidad banner*/
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .4;
}

#banner_tittle { /*Contenedor título banner*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: .8;
}

#banner_tittle h1 { /*Título banner*/
    text-align: center;
    color: white;
    margin-bottom: 120px;
    width: 450px;
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
}

.button { /*Botón banner*/
    position: absolute;
    margin-bottom: 2%;
    z-index: 4;
    background-color: #ffffff;
    border-radius: 20px;
    color: #232323;
    padding: 15px 25px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover, .btn-cart:hover { /*Animación botón banner*/
    color: #ffffff;
    background-color: #005387;
    scale: 1.1;
}
/*//////End Banner//////*/

.container { /*Contenedor del section*/
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
}

/*//////Contenedor de items//////*/
.grid-container { /*Contenedor global de productos*/
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}

.grid-container .grid-item { /*Contenedor del producto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.grid-item .grid-img { /*Contenedor imagen producto*/
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;

}

.grid-item .pre { /*Precio*/
    position: absolute;
    padding: 15px 25px;
    background-color: #111111;
    color: #ffffff;
    font-size: 16px;
    opacity: .9;
}

.section .grid-img .produ { /*Imagen Producto*/
    width: 100%;
    height: 100%;
}

.section .produ { /*Sombra Imagen Producto*/
    box-shadow: 5px 5px 3px #005c9e;
}

.grid-img .grid-logo { /*Contenedor Logo*/
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4;
    opacity: 0;
    transition: all .5s;
}


.grid-img .grid-logo .logo { /*Imagen logo*/
    width: 70%;
    opacity: .8;
    position: absolute;
}

.grid-img .grid-logo .gif { /*Imagen logo*/
    width: 100%;
    position: absolute;
}

.section .grid-item h2 { /*Título producto*/
    font-size: 19px;
    text-align: center;
    color: #002743;
    margin: 3%;
}

.section .grid-item .buy { /*Botón Comprar*/
    text-align: center;
    background-color: #00243e;
    color: #ffffff;
    box-shadow: 5px 5px #0062d1;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s;
}

.section .grid-container .grid-item:hover{
    border: 1px solid #002743 !important;
}

.grid-img .grid-logo:hover { /*Animación logo Hover*/
    opacity: 1;
} .noGif .grid-img .grid-logo:hover{opacity: .8 !important}

.section .grid-item .buy:hover { /*Animación botón comprar (ADIDAS)*/
    background-color: #005ccd;
    box-shadow: 5px 5px #000000;
    scale: 1.1;
}
/*//////End Contenedor de items//////*/

.section { /*Fondo section Adidas*/
    width: 100%;
    padding: 1%;
    padding-top: 60px;
}

.section h1 { /*Título section*/
    padding: 10px;
    text-align: center;
    color: #002743;
    font-size: 30px;
    border-bottom: 3px solid #002743;
}

.buy-form{
    width: 100%;
    padding-top: 50px;
}

.form {
    display: grid;
    justify-content: space-around;
    justify-content: center;
    margin-top: 30px;
    grid-template-columns: repeat(2, 50%);
}

.row-grid {
    display: flex;
    justify-content: center;
    padding: 10px;
} .textarea {grid-column: 1 / span 2; height: 120px;}

.form input, .form textarea{
    width: 100%;
    margin-left: 20px;
    font-size: 25px;
    color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    -webkit-appearance: textfield !important;
    -moz-appearance:textfield !important;
}

.form label h2{
    font-size: 30px;
    color: #3f3f3f;
}

#buyitems {
    grid-template-columns: repeat(6, 1fr) !important;
} 
/*//////Footer//////*/

#footer {
    background-color: #001e34;
    margin-top: 40px;
}

#footer .biglogo-footer {
    width: 40%;
}

#footer .logo-footer {
    width: 15%;
}

#footer .grid-container {
    grid-template-columns: repeat(3, 1fr) !important;
    border-bottom: 2px solid #cdcdcd !important;
}

#footer .grid-item {
    flex-direction: row !important;
    justify-content: center !important;
    grid-gap: 5% !important;
}

#footer h1 {
    color: #cdcdcd;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

#footer h2 {
    color: #cdcdcd;
    text-align: justify;
    font-size: 15px;
    padding: 20px;
}
/*//////End Footer//////*/

/*//////Responsive Design//////*/
@media screen and (max-width: 640px) {

    /*//////Start Menu//////*/
    #menu .logo {
        position: absolute;
        width: 60%;
        justify-content: center;
        margin-left: 20%;
    }

    #menu .items {
        display: none;
    }

    #menu .menu_colapse{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    #menu .items ul {
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        height: 500%;
        width: 260px;
        background-color: #001f35;
        box-shadow: 5px 5px #005ccd;
        opacity: 0.95;
    }

    #menu .items li {
        display: flex;
        justify-content: flex-end;
        height: 20%;
        width: 80%;
    }

    #menu .logo-menu {
        margin: 0px 25px 0px 15px;
        order: 2;
    }

    .cart_logo {
        left: 4%;
        position: absolute;
    }

    .colapse-cart {
        left: 0px;
        width: 100%;
        overflow-y: auto;
    }
    /*//////End Menu//////*/

    #banner_tittle h1 {
        text-align: center;
        color: white;
        margin-bottom: 120px;
        width: 250px;
        font-size: 30px;
    }

    .container {
        width: 100%;
    }

    .section .container h1 {
        margin: 10px;
        text-align: center;
        font-size: 25px;
    }

    /*//////Contenedor de items//////*/
    .grid-container {
        justify-content: center;
        grid-template-columns: repeat(2, 45%);
    }

    .grid-item .pre {
        padding: 5px 15px;
        font-size: 12px;
    }

    .section .grid-item h2 {
        font-size: 15px;
    }

    .section .grid-item .buy {
        padding: 5px 15px;
        font-size: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px #d40000;
    }

    .section .grid-item .buy:hover {
        box-shadow: 2px 2px #000000;
    }
    /*//////End Contenedor de items//////*/

    #footer .grid-container {
        grid-template-columns: repeat(2, 1fr) !important;
        border-bottom: 2px solid #cdcdcd !important;
    }
    
    #footer .biglogo-footer {
        width: 40%;
    }

    #footer h1 {
        color: #cdcdcd;
        text-align: center;
        font-size: 12px;
    }

    #footer h2 {
        color: #cdcdcd;
        font-size: 10px;
    }
}

@media screen and (max-height: 600px){
    .cart-items{
        height: 80px;
    }

    .colapse-cart img{
        height: 80px;
        width: auto;
    }
}

@media screen and (min-width: 640px) and (max-width: 1140px) {
    /*//////Start Menú//////*/
    #menu .logo {
        position: absolute;
        width: 60%;
        justify-content: center;
        margin-left: 20%;
    }

    #menu .items {
        display: none;
    }

    #menu .menu_colapse{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    #menu .items ul {
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        height: 500%;
        width: 260px;
        background-color: #001f35;
        box-shadow: 5px 5px #005ccd;
        opacity: 0.95;
    }

    #menu .items li {
        display: flex;
        justify-content: flex-end;
        height: 20%;
        width: 80%;
    }

    #menu .logo-menu {
        margin: 0px 25px 0px 15px;
        order: 2;
    }

    .cart_logo {
        left: 4%;
        position: absolute;
    }

    .colapse-cart {
        left: 0px;
        width: 50%;
    }

    #menu .items li:hover {
        border-bottom: 5px solid #005ccd;
    }
    
    .container {
        width: 90%;
    }

    .grid-container {
        justify-content: space-around;
        grid-template-columns: repeat(4, 1fr);
        height: 30%;
    }

    /*//////Contenedor de items//////*/
    .grid-item .pre {
        padding: 5px 15px;
        font-size: 12px;
    }

    .section .grid-item .buy {
        padding: 5px 20px;
        font-size: 12px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px #d40000;
    }

    .section .grid-item h2 {
        font-size: 15px;
    }
    /*//////End Contenedor de items//////*/
    #footer h2 {
        color: #cdcdcd;
        font-size: 12px;
        padding: 5px;
    }
}